@import "./colours";

$margin-desktop: 100px;
$margin-tablet: 25px;

$text-line-height: 30px;

%button-round {
  border: none;
  padding: 8px 29px;
  font-weight: 700;
  border-radius: 30px;
  background-color: $cyan;
  color: white;
}
