@import "../../assets/scss/main";

.body-container {
  background-color: $lightest-violet;
  width: 100vw;
  height: 100vh;
  margin-top: -180px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.body-text {
  padding: 200px 200px 50px;

  h2 {
    font-weight: 700;
    color: $very-dark-blue;
    font-size: 2.5rem;
  }

  p {
    color: $grayish-violet;
    font-size: 1.2rem;
    margin: 5% 18%;
  }
}
