@import "../../assets/scss/main";

.body-container {
  padding: 200px $margin-desktop 500px;
  background-color: $lightest-violet;
  width: 100vw;
  height: 100vh;
  margin-top: -180px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.body-text {
  @include tablet {
    padding: 180px $margin-tablet;
  }

  h2 {
    font-weight: 700;
    color: $very-dark-blue;
    font-size: 2.5rem;
    @include mobile {
      font-size: 1.8rem;
    }
  }

  p {
    color: $grayish-violet;
    font-size: 1.2rem;
    max-width: 550px;
    margin: 30px auto;
    line-height: $text-line-height;
    @include tablet {
      max-width: 100%;
    }
    @include mobile {
      font-size: 1rem;
    }
  }
}

.card-section {
  padding-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
