@import "../../assets/scss/main";

.search-bar-container {
  width: 80%;
  position: absolute;
  border-radius: 15px;
  top: 100%;
  display: flex;
  flex-direction: column;
}

.background {
  background-color: $very-dark-blue;
  border-radius: 15px;
  position: relative;
}

.search-area {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  .search-bar {
    border: none;
    padding: 13px 500px 13px 29px;
    margin-right: 20px;
    border-radius: 5px;
  }
  button {
    @extend %button-round;
    padding: 13px 29px;
    border-radius: 5px;
  }
}
