@import "../../assets/scss/main";

.navbar {
  padding: 25px $margin-desktop;
  margin-bottom: 80px;
  @include tablet {
    padding: 15px $margin-tablet;
  }
}

.logo {
  color: $very-dark-blue !important;
  font-weight: 700;
  font-size: 30px;
  margin-right: 30px;
}

#basic-navbar-nav {
  @include tablet {
    background-color: $dark-violet;
    border-radius: 15px;
    padding: 20px 50px;
    margin-top: 30px;
  }
}

.link {
  padding: 0 15px !important;
  color: $grayish-violet !important;
  font-weight: 700;
  @include tablet {
    color: white !important;
    padding: 10px !important;
  }
}

.rule {
  display: none;
  background-color: lightgray;

  @include tablet {
    display: block;
  }
}

.button {
  @extend %button-round;
  @include tablet {
    font-weight: 700;
  }
}

.login {
  color: $grayish-violet;
  background-color: transparent;
  padding-right: 30px;
  @include tablet {
    color: white;
  }
}

.signup {
  @include tablet {
    margin-top: 10px;
  }
}
